.header {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
  }
  
  .header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
  }
  
  .header a {
    font-size: 16px;
    color: #5e548e;
    text-decoration: none;
    font-weight: 500;
  }
  
  .header a:hover {
    color: #f72585;
  }
  
  body {
    margin-top: 80px; 
  }
  