
body, html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura da viewport */
    overflow: hidden; /* Oculta a rolagem */
    position: relative; /* Para o posicionamento do círculo */
  background-color: #EAE0D5;
}

.content {
  position: relative; /* Necessário para o z-index funcionar */
  z-index: 1; /* Z-index maior que o círculo */
  text-align: center; /* Centraliza o texto */
  color: #000; /* Cor do texto para contraste */
}
